<div class="no-of-users">
  No of active users: <span id="no_of_active"> <%= UserSignInCount.count %></span>
</div>

<div class="no-of-valid-users">
  no of valid users: <span id="no_of_valid"><%= UserSignInCount.valid_users %></span>
</div>