<div class="no-of-users">
  No of active users: <span id="no_of_active"> <%= UserSignInCount.count %></span>
</div>

<div class="no-of-valid-users">
  No of valid users: <span id="no_of_valid"><%= UserSignInCount.valid_users %></span>
</div>

<div class="sign-in-time">
	Time On Site:
	<label id="minutes">00</label>:<label id="seconds">00</label>
</div>