.no-of-users {
	height: 100px;
	text-align: center;
    margin: 0 0 19px 0;
    padding-top: 25px;
    font-size: 31px;
    background-color: whitesmoke;
    border: 1px solid #dddddd;
}

.no-of-valid-users {
	height: 100px;
	text-align: center;
    padding-top: 25px;
    font-size: 31px;
    background-color: whitesmoke;
    border: 1px solid #dddddd;
}

.image-box {
	height: 363px;
    background-color: gray;
    padding-top: 10px;
}